
<header class="navbar navbar-dark bg-black flex-md-nowrap p-0 shadow">

    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 d-flex justify-content-center" href="/" style="font-family: 'Mooli', sans-serif;">GOAL MOSAIC</a>
    
  
  
  </header>