body {
  font-size: .875rem;
  background-color: #E6E6FA
}


.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: black;
  box-shadow: none;
  text-align: center;
}

.table td {
  padding: 10px; 
}





